:root {
  --main-text-color: #212121;
  --submain-text-color: #757575;
  --header-footer-bgcolor: #2f303a;
  --bgcolor: #fff;
  --filter-btn-color: #f5f4fa;
  --modify-text-color: #2196f3;
  --additional-color: #afb1b8;
  --main-text-font: "Roboto", sans-serif;
  --submain-text-font: "Raleway", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/* reset some basic styles not to repeat each time */

body {
  font-family: var(--main-text-font);
  letter-spacing: 0.03em;
  font-size: 14px;
  color: var(--main-text-color);
  background-color: var(--bgcolor);
}

/* container for content with 1200px and safe padding 10px from each side */

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

/* padding 94px for section according to figma design guidelines*/
.section {
  padding: 94px 0px;
}

/* container for header to put in a row Logo, Navigation and Contacts. */
.header {
  border-bottom: 1px solid #ececec;
}

.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-panel {
  display: flex;
  align-items: center;
}

.nav-logo {
  font-family: var(--submain-text-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: inherit;
}

/* create space between Logo and Navigation */
.nav-menu {
  display: flex;
  align-items: center;
  margin: 32px 0px 32px 93px;
}

/* create space between navigation's items */

.nav-menu .nav-menu-item:not(:first-child) {
  margin-left: 50px;
}

.nav-menu-item {
  position: relative;
}

.nav-menu-link {
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-link::after {
  content: "";
  display: block;
  position: absolute;
  top: 45px;
  height: 4px;
  width: 100%;
  border-radius: 4px;
  background-color: var(--modify-text-color);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-item:hover .nav-menu-link,
.nav-menu-item:focus .nav-menu-link {
  color: var(--modify-text-color);
}

.nav-menu-item:hover .nav-menu-link::after,
.nav-menu-item:focus .nav-menu-link::after {
  opacity: 1;
}

.contacts-list {
  display: flex;
  align-items: center;
}

.contacts-list .contacts-item + .contacts-item {
  margin-left: 50px;
}

.contacts-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.contacts-logo {
  margin-right: 10px;
  fill: var(--submain-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link {
  display: block;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--submain-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item:hover .contacts-logo,
.contacts-item:focus .contacts-logo,
.contacts-item:hover .contacts-link,
.contacts-item:focus .contacts-link {
  fill: var(--modify-text-color);
  color: var(--modify-text-color);
}

/* another container to display background on full screen */
.bg-container {
  max-width: 1600px;
  background-color: var(--header-footer-bgcolor);
  margin: 0 auto;
  background-image: linear-gradient(
      180deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0) 100%
    ),
    url("../images/background__hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* add height to section */

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.main-title {
  margin-bottom: 30px;
  width: 696px;
  text-align: center;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--bgcolor);
}

.btn-primary {
  padding: 10px 32px;
  min-width: 216px;

  cursor: pointer;
  border: none;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  color: var(--bgcolor);
  background-color: var(--modify-text-color);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-primary:hover,
.btn-primary:focus {
  opacity: 0.8;
}

.company-advantages {
  padding-bottom: 45px;
}

.advantages-list {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.advantages-item {
  width: 270px;
}

.advantages-container-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--filter-btn-color);
}

.advantages-title {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.15;
}

.advantages-description {
  line-height: 1.7;
  color: var(--submain-text-color);
}

/* reduce padding between two sections */
.work-proccess {
  padding-top: 45px;
}

.work-proccess-title {
  margin-bottom: 50px;

  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}

.work-proccess-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work-proccess-list .work-proccess-item {
  position: relative;
}

.proccess-subtitle {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 27px 0px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.17;
  color: var(--bgcolor);
  background-color: rgba(47, 48, 58, 0.8);
}

.our-team-container {
  background-color: var(--filter-btn-color);
}

.our-team-title {
  margin-bottom: 50px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}

.our-team-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.our-team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-team-photo {
  display: block;
}

.team-member-card {
  background-color: var(--bgcolor);
  padding: 30px 32px;
}

.team-member-name {
  margin-bottom: 10px;
  text-align: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}
.team-member-description {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  color: var(--submain-text-color);
}

.team-member-sm {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.member-sm-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member-sm-icon {
  fill: var(--additional-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member-sm-item:hover,
.member-sm-item:focus {
  background-color: var(--modify-text-color);
}

.member-sm-item:hover .member-sm-icon,
.member-sm-item:focus .member-sm-icon {
  fill: var(--bgcolor);
}

.clients-section {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.clients-title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clients-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 170px;
  height: 92px;
  border: 1px solid var(--additional-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  fill: var(--additional-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:hover,
.clients-item:focus {
  border: 1px solid var(--modify-text-color);
}

.clients-item:hover .clients-icon,
.clients-item:focus .clients-icon {
  fill: var(--modify-text-color);
}

.page-footer {
  background-color: var(--header-footer-bgcolor);
}

.footer-positioning {
  display: flex;
  align-items: baseline;
}

.page-footer-section {
  padding: 60px 0px;
  margin-right: 70px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: var(--submain-text-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--bgcolor);
}

.footer-address {
  margin-bottom: 9px;

  font-style: normal;
  line-height: 1.7;
  color: var(--bgcolor);
}

.footer-contacts-list .footer-contacts-item + .footer-contacts-item {
  margin-top: 9px;
}

.footer-contacts-link {
  display: block;

  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--modify-text-color);
}

.sm-container-title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--bgcolor);
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 93px;
}

.sm-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm-item:hover,
.sm-item:focus {
  background-color: var(--modify-text-color);
}

.social-media .sm-item + .sm-item {
  margin-left: 10px;
}

.sm-icon {
  fill: var(--bgcolor);
}

/*----------------------- Footer email form ----------------------------------------------------- */

.send-email-title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--bgcolor);
  line-height: 1.16;
}

.email-form {
  display: flex;
  align-items: center;
}

.email-form-input {
  width: 358px;
  margin-right: 12px;
  padding: 15px 16px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  color: var(--bgcolor);
}

.send-email-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  padding: 10px 28px;
  background-color: var(--modify-text-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn-email-text {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06;
  line-height: 1.87;
  color: var(--bgcolor);
}
.btn-email-icon {
  fill: var(--bgcolor);
}

/*------------------------------------------------------------------------------------------------- */

.portfolio-filter-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 34px;
}

.portfolio-filter-list .portfolio-button + .portfolio-button {
  margin-left: 8px;
}

.filter-button {
  padding: 8px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  color: inherit;
  background-color: var(--filter-btn-color);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:first-child {
  padding: 8px 25px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--modify-text-color);
  color: var(--bgcolor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.portfolio-item {
  cursor: pointer;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:hover .project-description-bg,
.portfolio-item:focus .project-description-bg {
  transform: translateY(0%);
}

.project-pic-description {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.project-image {
  display: block;
}

.project-description-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
}

.project-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 322px;
  font-size: 18px;
  line-height: 1.5;
  color: var(--bgcolor);
  background-color: rgba(33, 150, 243, 0.9);
}

.add-border {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.project-name {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 2;
}

.project-type {
  font-size: 16px;
  line-height: 1.9;
  color: var(--submain-text-color);
}
.color-modify {
  color: var(--modify-text-color);
}

.color-modify::after {
  opacity: 1;
}

.bg-modify {
  background-color: var(--modify-text-color);
  color: var(--bgcolor);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms ease;
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms ease;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--bgcolor);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-button {
  position: absolute;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  fill: var(--modify-text-color);
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  color: var(--submain-text-color);
  letter-spacing: 0.01;
  line-height: 1.17;
}

.form-field-positioning {
  position: relative;
  width: 100%;
}

.form-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border: 1px solid var(--modify-text-color);
}

.form-input:focus ~ .form-icon {
  fill: var(--modify-text-color);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  padding: 12px 16px;
  width: 100%;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea:focus {
  border: 1px solid var(--modify-text-color);
}

.form-policy {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.policy-positioning {
  margin-bottom: 30px;
}

.policy-label {
  display: flex;
  align-items: center;
}

.policy-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-checkbox:checked + .checkbox-icon {
  border: 2px solid var(--modify-text-color);
  background-image: url("../images/check.svg");
  background-color: var(--modify-text-color);
  background-size: contain;
  background-origin: border-box;
}

.checkbox-text {
  line-height: 1.7;
  color: var(--submain-text-color);
}

.policy-link {
  color: var(--modify-text-color);
  text-decoration: underline;
}

.btn-form {
  width: 200px;
  padding: 10px 52px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06;
  line-height: 1.87;
  background-color: #188ce8;
  color: var(--bgcolor);
}
